{% load static i18n %}
<nav class="navbar bg-primary navbar-expand-lg shadow" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'store:index' %}">Ecommerce</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:index' %}"
            >{% trans "Home" %}</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" data-bs-theme="light">
            <li>
              <a class="dropdown-item" href="{% url 'store:categories_all' %}">All</a>
            </li>
            {% for category in categories_all %}
            <li>
              <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>

        {% comment %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        {% endcomment %}
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">{% trans "Register" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{% trans "Login" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{% trans "Cart" %}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
